<div class="col-md-12 admin-head-align">
  <%= link_to "Prophet", homes_admin_path, class: 'admin-head-title'%>
  <%= link_to "Request Messages", prophent_messages_path, class: 'admin-head-title' %>
  <%= link_to "User Request", prophents_path, class: 'admin-head-title' %>
  <%= link_to "Info", admin_posts_path, class: 'admin-head-title' %>
  <%= link_to "Youtube Video Url", video_url_path, class: 'admin-head-title' %>
</div>